@tailwind base;
@tailwind components;
@tailwind utilities;

/* ext. shariff */
.shariff { margin:0; }
.shariff ul, .shariff ul li { padding:0; margin:0; }
.shariff ul li a, .shariff ul li a:hover { border-bottom:none; color:#fff; }
.shariff .orientation-vertical li { display:inline-block; width:auto; margin:0 1em 0 0; }
.shariff .orientation-vertical li .share_text { visibility:hidden; }
.shariff .theme-white .shariff-button {
  background-repeat: no-repeat;
  background-size: contain;
  transition: filter .35s;
  border:none;
  width:2em;
  height:2em;
}
.shariff .theme-white .shariff-button.facebook {
  background-image: url('/typo3conf/ext/naturetourssite/Resources/Public/Images/Layout/Icon/iconmonstr-facebook-2.svg');
}
.shariff .theme-white .shariff-button.twitter {
  background-image: url('/typo3conf/ext/naturetourssite/Resources/Public/Images/Layout/Icon/iconmonstr-twitter-2.svg');
}
.shariff .theme-white .shariff-button.whatsapp {
  background-image: url('/typo3conf/ext/naturetourssite/Resources/Public/Images/Layout/Icon/iconmonstr-whatsapp-2.svg');
}
.shariff .theme-white .shariff-button:hover,
.shariff .theme-white .shariff-button:focus { filter: brightness(0%); }
.shariff .theme-white .shariff-button a, .shariff .theme-white .shariff-button a:hover { background-color:transparent; }

/* Larger than mobile screen (768px) */
/*
@media only screen and (min-width: 48em) {
    .shariff .theme-white .shariff-button.whatsapp { display:none; }
}
*/